@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

.App {
  background-color: #282c34;
  min-height: 100vh;
}
.app-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

a {
  color: #34D75F;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a:hover {
  color: white;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 0px;
}

li {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #4ed36f;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 16px 5px 16px;
  cursor: pointer;
}

button:hover {
  background: #292C34;
  color: white;
}

button:focus {
  outline: 2px;
}

h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

img {
  border-radius: 48%;
}
